<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Azure Storage: AzureStorageConnectionString-1 -->
        <add key="AzureStorageConnectionString-1" value="DefaultEndpointsProtocol=https;AccountName=sapsoftwaredeployment;AccountKey=PFv4AVIKQ5rAXpIGHUO5alTfbxPLGuXmLVS/fLPhQsuDyITvdDptL5HNEF3cCWUfocLEEKc6YQlbCP2loChLNg==;EndpointSuffix=core.windows.net" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
